        body    {font-family:Inika}
        h1      {font-family:'Bowlby One SC'}
        #wrapper        {width:900px;
                        margin:auto}
        #top            {margin-bottom:4em}
        #narrow         {width:495px;
                        float:left}
        #wide           {width:395px;
                        float:right}
        .box            {padding:1ex;
                        border:1px solid black;
                        margin-bottom:2em;}
        .box h2         {margin-top:-1em;
                        margin-left:5px;
                        width:100px;
                        background:white;
                        text-align:center;}
        table           {width:100%}
        //td + td               {text-align:right}

        #submit         {background:black;color:white;font-weight:bold;font-family:inerit;font-size:125%;border:5px double white;cursor: hand; cursor: pointer;}
        #submit:hover   {background:#888;}

        #pasture        {border:1px solid black;width:3em;font-family:inherit}

        form div                            { overflow: hidden; margin: 0 0 5px 0; }
        input[type=text]                    { float: left; width: 40px; font: bold 20px Helvetica, sans-serif; padding: 3px 0 0 0; text-align: center; }
        .button                             { margin: 0 0 0 5px; text-indent: -9999px; cursor: pointer; width: 29px; height: 29px; float: left; text-align: center; background: url(img/buttons.png) no-repeat; }
        .dec                                { background-position: 0 -29px; }

        #order_submitted        {color: red;}
        #order_updated  {color: red; text-align: center;}

        .tweet {border: solid 1px black; padding: 10px;}
        .tweetimg {float: left; margin-right: 20px;}

	.text_center {text-align: center}
	.text_justify {text-align: justify}
	.green {color: green}
	.red {color: red}
